/*----------------Popup box--------------------*/
#popup {
    position: fixed;
    top: 50%;
    width: 70%;
    height: 80%;
    z-index: 10;
    border-radius: 0.8vw;
    border: 2px dashed black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out 0ms;
}

.nighttime #popup {
    border-color: white;
    background-color: #14213D;
}

#popup.unclicked {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    left: -35%;
}

#popup.clicked {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    left: 50%;
}

.popup-header {
    padding: 1.8vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header .title {
    margin: 0px 0px 0px 1vw;
    padding: 1vw 0px 0px;
    font-size: 2vw;
}

.popup-header .close-button {
    background-image: url("images/icons/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    filter: none;
    width: 2.5vw;
    height: 2.5vw;
    padding: 0vw 0.6vw;
    border-radius: 50%;
    margin-right: 0.8vw;
    cursor: pointer;
    user-select: none;
    transform-origin: center;
    transition: all 0.3s ease-in-out 0ms;
}

.nighttime .close-button {
    filter: invert();
}

.popup-body {
    height: 100%;
    padding: 0.8vw 2vw 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

.popup-body .text {
    width: calc(60% - 1vw);
    text-align: justify;
    font-size: 1vw;
    overflow-y: auto;
    height: 100%;
    padding-right: 1vw;
}

.popup-body .text * {
    font-family: var(--text-font);
    font-size: 1vw;
    list-style: none;
}

.popup-body .text li {
    text-align: left;
    margin-bottom: 0.4vw;
}

.popup-body .text li::before {
    padding-right: 1.5vw;
    content: '';
    background-image: url("images/leaf.png");
    height: 1vw;
    width: 1vw;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 0vw 0.3vw;
}

.popup-body .img {
    width: calc(40% - 1vw);
    border-radius: 50px 0px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 20px solid wheat;
    box-shadow: 0.4vw 0.15vw 1vw 0.2vw rgba(0, 0, 50, .5);
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 9;
}

#popup-overlay.unclicked {
    opacity: 0;
    display: none;
}

#popup-overlay.clicked {
    display: block;
    opacity: 1;
}
